
<!DOCTYPE html>
<html lang="en">

<!-- start head -->
<%- include("../TrangAdmin/partials/head.ejs") %>
<!-- end head -->

<body class="g-sidenav-show   bg-gray-100">
  <div class="min-height-300 bg-primary position-absolute w-100"></div>

  <!-- navbar left start -->
  <%- include("../TrangAdmin/partials/navbarLeft.ejs") %>
  <!-- navbar left end -->
  
  <main class="main-content position-relative border-radius-lg ">
   
    <div class="container-fluid py-4" >
        <marquee width="90%" class="text-white">KHÔNG CÓ QUYỀN TRUY CẬP</marquee>

    </div>
    

  </main>

  <!-- chân trang và các script -->
  <%- include("../TrangAdmin/partials/chanTrangVaScript.ejs") %>
  <!-- end chân trang và các script -->
  
</body>

</html>