
<div class="tab-pane fade show active" id="trangchu">    
        <div class="trai" style="
            background-color: rgb(255, 255, 255);
            width: 48%;
            height: 300px;
            float: left;
            border: 1px solid #e7e7e7;
            border-radius: 10px;
            "> 

            <div style=" display: flex; justify-content: center; align-items: center;height: 70px; margin-top: 10px; margin-bottom: 10px; ">
                <div style="border-radius: 50%; overflow: hidden; width: 70px; height: 70px; border: 0.5px solid #9b9b9b; display: block;">
                    <img style="width: 100%; height: auto;" src="assets/img/logo/avt-acc1.png" alt="">
                </div>                                     
            </div>    
                          
            <div style="height: 65%;">
                <span style="text-align: center; justify-content: center; display: flex; font-size: 18px;">Xin chào</span> 
                <span style="text-align: center; justify-content: center; display: flex; font-size: 20px; color: red;text-transform: uppercase;font-weight: bold;font-family: Arial, Helvetica, sans-serif;"><%= hoten %></span>
                <div style="width: 50%;float: left; margin-top: 25px; height: 110px;">
                    <span style="text-align: center; justify-content: center; display: flex; font-size: 15px;margin-bottom: 8px;color: navy;">Tổng đơn hàng đã đặt</span> 
                    <span style="text-align: center; justify-content: center; display: flex; font-size: 18px;">
                        <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M0 24C0 10.7 10.7 0 24 0H69.5c22 0 41.5 12.8 50.6 32h411c26.3 0 45.5 25 38.6 50.4l-41 152.3c-8.5 31.4-37 53.3-69.5 53.3H170.7l5.4 28.5c2.2 11.3 12.1 19.5 23.6 19.5H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H199.7c-34.6 0-64.3-24.6-70.7-58.5L77.4 54.5c-.7-3.8-4-6.5-7.9-6.5H24C10.7 48 0 37.3 0 24zM128 464a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm336-48a48 48 0 1 1 0 96 48 48 0 1 1 0-96zM252 160c0 11 9 20 20 20h44v44c0 11 9 20 20 20s20-9 20-20V180h44c11 0 20-9 20-20s-9-20-20-20H356V96c0-11-9-20-20-20s-20 9-20 20v44H272c-11 0-20 9-20 20z"/></svg>
                    </span> 
                    <span style="text-align: center; justify-content: center; display: flex; font-size: 18px;margin-top: 10px;color: red;"><%= soLuongDH.length %></span> 
                </div>
                <div style="width: 50%;float: left; margin-top: 25px; height: 110px;">
                    <span style="text-align: center; justify-content: center; display: flex; font-size: 15px;margin-bottom: 8px;color: navy;">Tổng số tiền tích lũy</span> 
                    <span style="text-align: center; justify-content: center; display: flex; font-size: 18px;">
                        <svg width="45" height="45" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M312 24V34.5c6.4 1.2 12.6 2.7 18.2 4.2c12.8 3.4 20.4 16.6 17 29.4s-16.6 20.4-29.4 17c-10.9-2.9-21.1-4.9-30.2-5c-7.3-.1-14.7 1.7-19.4 4.4c-2.1 1.3-3.1 2.4-3.5 3c-.3 .5-.7 1.2-.7 2.8c0 .3 0 .5 0 .6c.2 .2 .9 1.2 3.3 2.6c5.8 3.5 14.4 6.2 27.4 10.1l.9 .3c11.1 3.3 25.9 7.8 37.9 15.3c13.7 8.6 26.1 22.9 26.4 44.9c.3 22.5-11.4 38.9-26.7 48.5c-6.7 4.1-13.9 7-21.3 8.8V232c0 13.3-10.7 24-24 24s-24-10.7-24-24V220.6c-9.5-2.3-18.2-5.3-25.6-7.8c-2.1-.7-4.1-1.4-6-2c-12.6-4.2-19.4-17.8-15.2-30.4s17.8-19.4 30.4-15.2c2.6 .9 5 1.7 7.3 2.5c13.6 4.6 23.4 7.9 33.9 8.3c8 .3 15.1-1.6 19.2-4.1c1.9-1.2 2.8-2.2 3.2-2.9c.4-.6 .9-1.8 .8-4.1l0-.2c0-1 0-2.1-4-4.6c-5.7-3.6-14.3-6.4-27.1-10.3l-1.9-.6c-10.8-3.2-25-7.5-36.4-14.4c-13.5-8.1-26.5-22-26.6-44.1c-.1-22.9 12.9-38.6 27.7-47.4c6.4-3.8 13.3-6.4 20.2-8.2V24c0-13.3 10.7-24 24-24s24 10.7 24 24zM568.2 336.3c13.1 17.8 9.3 42.8-8.5 55.9L433.1 485.5c-23.4 17.2-51.6 26.5-80.7 26.5H192 32c-17.7 0-32-14.3-32-32V416c0-17.7 14.3-32 32-32H68.8l44.9-36c22.7-18.2 50.9-28 80-28H272h16 64c17.7 0 32 14.3 32 32s-14.3 32-32 32H288 272c-8.8 0-16 7.2-16 16s7.2 16 16 16H392.6l119.7-88.2c17.8-13.1 42.8-9.3 55.9 8.5zM193.6 384l0 0-.9 0c.3 0 .6 0 .9 0z"/></svg>
                    </span> 
                    <span style="text-align: center; justify-content: center; display: flex; font-size: 18px;margin-top: 10px;color: red;"><%= formatCurrency(tongTienHD) %></span> 
                </div>
            </div>  
                
            
        </div>

        <div class="phai" style="
            background-color: #ffffff;
            width: 48%;
            height: 300px; 
            float: left;
            margin-left: 4%;
            border-radius: 10px;
            display: flex; justify-content: center;
            "> 
            <div class="w3-content w3-section" style="max-width:500px;border: 1px solid #ffffff;border-radius: 10px;">
                <img class="mySlides w3-animate-fading" src="assets\img\cart\hinhthuctt.jpg" style="width:406.8px; height: 300px; position: relative; top: -15px;border-radius: 10px;">
                <img class="mySlides w3-animate-fading" src="assets\img\cart\KHUYEN-MAI.png" style="width:406.8px; height: 300px; position: relative; top: -15px;border-radius: 10px;">
                <img class="mySlides w3-animate-fading" src="assets\img\cart\sale_sale_sale.jpg" style="width:406.8px; height: 300px; position: relative; top: -15px;border-radius: 10px;">
                <img class="mySlides w3-animate-fading" src="assets\img\cart\tt.jpg" style="width:406.8px; height: 300px; position: relative; top: -15px;border-radius: 10px;">
            </div>

            <!-- slide show -->
            
            <!-- slide show end -->
        </div>

        <div class="row" style="position: relative; top: 20px;">
            <div class="col-lg-4 col-md-6">
                <div class="single_blog">
                    <div class="blog_thumb">
                        <a href="/shop-list-ht1"><img style="height: 210.9px;" src="assets\img\slider\nh1.jpg" alt=""></a>
                    </div>
                    <div class="blog_content">
                        
                        <h3><a href="/shop-list-ht1" style="font-family: Arial, Helvetica, sans-serif;">Hành Trình Khám Phá Nước Hoa Nam</a></h3>
                        <p style="font-family: Arial, Helvetica, sans-serif;text-align: justify;">Nước hoa không chỉ là một mùi hương, mà còn là biểu tượng của phong cách và cá nhân. Với sự phong phú và đa dạng, thế giới của nước hoa nam là một thế giới mà các quý ông có thể khám phá và tận hưởng. Bí mật của sự quyến rũ không chỉ nằm trong việc chọn lựa một chai nước hoa phù hợp, mà còn ẩn chứa trong quá trình hành trình khám phá nước hoa nam.</p>
                        <div class="post_footer">
                            <div class="post_meta">
                                <ul>
                                    <li>Jun 20, 2018</li>
                                    <li>3 Comments</li>
                                </ul>
                            </div>
                            <div class="Read_more">
                                <a href="#">Read more  <i class="fa fa-angle-double-right"></i></a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_blog">
                    <div class="blog_thumb">
                        <a href="/shop-list-ht2"><img style="height: 210.9px;" src="assets\img\slider\avtLand.jpg" alt=""></a>
                    </div>
                    <div class="blog_content">
                        
                        <h3><a href="/shop-list-ht2" style="font-family: Arial, Helvetica, sans-serif;">Hành Trình Xây Dựng Một Thế Giới Nông Nghiệp</a></h3>
                        <p style="font-family: Arial, Helvetica, sans-serif;text-align: justify;">Trong cuộc sống hối hả và bận rộn của ngày nay, không gì tuyệt vời hơn khi thoát ra khỏi thành thị ồn ào để tận hưởng cuộc sống đồng quê yên bình. Trong trò chơi "Nông Trại Hạnh Phúc", bạn sẽ được trải nghiệm một cuộc phiêu lưu đầy màu sắc trong thế giới nông nghiệp, nơi bạn sẽ xây dựng và quản lý một trang trại của riêng mình.</p>
                        <div class="post_footer">
                            <div class="post_meta">
                                <ul>
                                    <li>Jun 20, 2018</li>
                                    <li>3 Comments</li>
                                </ul>
                            </div>
                            <div class="Read_more">
                                <a href="#">Read more  <i class="fa fa-angle-double-right"></i></a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single_blog">
                    <div class="blog_thumb">
                        <a href="/shop-list-ht1"><img src="assets\img\slider\nh2.jpg" style="height: 210.9px;" alt=""></a>
                    </div>
                    <div class="blog_content">
                        
                        <h3><a href="/shop-list-ht1" style="font-family: Arial, Helvetica, sans-serif;">Bí Mật của Sức Quyến Rũ và Sự Tự Tin</a></h3>
                        <p style="font-family: Arial, Helvetica, sans-serif;text-align: justify;">Nước hoa không chỉ là một mùi hương, mà còn là biểu tượng của vẻ đẹp và cá tính của phụ nữ. Với sự phong phú và đa dạng, thế giới của nước hoa nữ là một cuộc phiêu lưu mà mọi phụ nữ có thể tham gia để tìm kiếm mùi hương phản ánh hoàn hảo nhất cho chính mình. Từ những hương thơm ngọt ngào đến những hương thơm nồng nàn, nước hoa nữ là một biểu tượng của sự tự tin và sức quyến rũ.</p>
                        <div class="post_footer">
                            <div class="post_meta">
                                <ul>
                                    <li>Jun 20, 2018</li>
                                    <li>3 Comments</li>
                                </ul>
                            </div>
                            <div class="Read_more">
                                <a href="#">Read more  <i class="fa fa-angle-double-right"></i></a>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>

<!-- xử lý đoạn slider -->
<script>
    var myIndex = 0;
    carousel();
    
    function carousel() {
      var i;
      var x = document.getElementsByClassName("mySlides");
      for (i = 0; i < x.length; i++) {
        x[i].style.display = "none";  
      }
      myIndex++;
      if (myIndex > x.length) {myIndex = 1}    
      x[myIndex-1].style.display = "block";  
      setTimeout(carousel, 9000);    
    }
</script>